<!DOCTYPE html>
<html>
<head>
    <title>Set Goals</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>

        <div id="nav-items">
            <ul>

                <li class="dropdown">
                    <a href="#">Services</a>
                    <div class="dropdown-content">
                        <a href="/inputFood">Calculate Calories</a>
                        <a href="/getUserCalories">Calories Chart</a>
                        <a href="/makeExercise">Make Workout Plans</a>
                        <a href="/workoutPlans">Workout Plans</a>

                        <a href="/goals">Update Goals</a>
                        <a href="/calculate">BMI</a>

                    </div>
                </li>
                <li><a href="/isloged">Profile</a></li>
                <li><a href="/logout">Logout</a></li>


            </ul>
        </div>
    </nav>
</header>

<form id="goal-form" action="/setGoal" method="POST">
    <h2 class="form-title">Update Your Goals</h2>
    <label for="calorie-goal">Daily Calorie Goal:</label><br>
    <input type="number" id="calorie-goal" name="calorie-goal" min="0"><br>

    <label for="exercise-goal">Daily Exercise Minutes Goal:</label><br>
    <input type="number" id="exercise-goal" name="exercise-goal" min="0"><br>



    <button type="submit" class="form-button">Set Goals</button>
</form>
<p id="message"></p>
</body>
</html>
