<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homePage.css">
    <title>Fitness Tracker</title>
</head>
<body>
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro
               </a>
        </div>

        <div id="nav-items">
            <ul>
                <li><a href="#">Tracker</a></li>
                <li><a href="/goals">Goals</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/user">Profile</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <section id="hero">
        <h1>Welcome to MyGymBro </h1>
        <p>Track your fitness progress and reach your goals.</p>

    </section>
    <section id="features">
        <div class="feature">
            <h2>Track Workouts</h2>
            <p>Easily record and visualize your workouts.</p>
        </div>
        <div class="feature">
            <h2>Track your Calories</h2>
            <p>Calculate your daily calories intake.</p>
        </div>
        <div class="feature">
            <h2>Set Goals</h2>
            <p>Define your fitness goals and track your progress.</p>
        </div>
    </section>
</main>

</body>
</html>
