<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homePage.css">
    <title>Fitness Tracker</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Tracker</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="hero">
        <h1>Welcome to Fitness Tracker</h1>
        <p>Track your fitness progress and reach your goals.</p>
        <a href="#" class="cta-button">Get Started</a>
    </section>
    <section id="features">
        <div class="feature">
            <h2>Track Workouts</h2>
            <p>Easily record and visualize your workouts.</p>
        </div>
        <div class="feature">
            <h2>Set Goals</h2>
            <p>Define your fitness goals and track your progress.</p>
        </div>
        <div class="feature">
            <h2>Join Community</h2>
            <p>Get motivated by being a part of our fitness community.</p>
        </div>
    </section>
</main>

</body>
</html>
