<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homePage.css">
    <title>Fitness Tracker</title>
</head>
<body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var closeGreetingButton = document.getElementById("closeGreetingButton");

        closeGreetingButton.addEventListener("click", function() {
            var greetingDiv = document.getElementById("greetingDiv");
            greetingDiv.remove();
        });
    });
</script>

<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>

        <div id="nav-items">
            <ul>
                <li class="dropdown">
                    <a href="#">Services</a>
                    <div class="dropdown-content">
                        <a href="/makeExercise">Make Workout Plans</a>
                        <a href="/workoutPlans">Workout Plans</a>
                        <a href="/getUserCalories">Calories Chart</a>
                        <a href="/inputFood">Calculate Calories</a>
                        <a href="/calculate">BMI</a>
                        <a href="/goals">Set Goals</a>
                    </div>
                </li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/isloged">Profile</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <% if (user && justLoggedIn) { %>
        <div id="greetingDiv">
            <h1>Hello, <%= user %>!</h1>
            <p>Your daily calorie goal is: <%= userGoalCal %></p>
            <p>Your daily exercise minutes goal is: <%= userGoalExercise %></p>
            <button id="closeGreetingButton">Close Message</button>
        </div>
    <% } else if (user) { %>

    <% }  %>

    <section id="hero">
        <h1>Welcome to MyGymBro </h1>
        <p>Track your fitness progress and reach your goals.</p>
    </section>
    <section id="features">
        <div class="feature">
            <h2>Track Workouts</h2>
            <p>Easily record and visualize your workouts.</p>
        </div>
        <div class="feature">
            <h2>Track your Calories</h2>
            <p>Calculate your daily calories intake.</p>
        </div>
        <div class="feature">
            <h2>Set Goals</h2>
            <p>Define your fitness goals and track your progress.</p>
        </div>
    </section>
</main>

</body>
</html>
