<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Information</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<!-- Navigation -->
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>
        <div id="nav-items">
            <ul>
                <li><a href="#">Tracker</a></li>
                <li><a href="/goals">Goals</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/user">Profile</a></li>

            </ul>
        </div>
    </nav>
</header>

<!-- Nutrition Information -->
<h1>Nutrition Information</h1>

<% if (data) { %>
    <div>
        <h2>Calories: <%= data.calories %></h2>
        <h3>Diet Labels:</h3>
        <ul>
            <% data.dietLabels.forEach(label => { %>
                <li><%= label %></li>
            <% }); %>
        </ul>
        <h3>Health Labels:</h3>
        <ul>
            <% data.healthLabels.forEach(label => { %>
                <li><%= label %></li>
            <% }); %>
        </ul>
    </div>
<% } else { %>
    <p>No nutrition data available.</p>
<% } %>

<!-- Footer -->

</body>
</html>
