<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Information</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
<!-- Navigation -->
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>

        <div id="nav-items">
            <ul>
                <li class="dropdown">
                    <a href="#">Services</a>
                    <div class="dropdown-content">
                        <a href="/makeExercise">Make Workout Plans</a>
                        <a href="/workoutPlans">Workout Plans</a>
                        <a href="/getUserCalories">Calories Chart</a>
                        <a href="/inputFood">Calculate Calories</a>
                        <a href="/calculate">BMI</a>
                        <a href="/goals">Set Goals</a>
                    </div>
                </li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/isloged">Profile</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- Nutrition Information -->



<

<% if (data) { %>
    <div style="display: flex;  justify-content: center; align-items: center; min-height: 50vh; flex-direction: column;">

        <div id="chartContainer" style="display: flex;background-color: #ffffff; flex-direction: column; align-items: center; max-width: 90%; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <h1>Nutrition Information</h1>
            <h2>Calories: <%= data.calories %></h2>
        </div>
    </div>
<% } else { %>
    <p>No nutrition data available.</p>
<% } %>

<!-- Footer -->

</body>
</html>
