<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<!-- Navigation -->
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>

        <div id="nav-items">
            <ul>

                <li><a href="/inputFood">Calculate Calories</a></li>


                <li class="dropdown">
                    <a href="#">Services</a>
                    <div class="dropdown-content">

                        <a href="/getUserCalories">Calories Chart</a>
                        <a href="/makeExercise">Make Workout Plans</a>
                        <a href="/workoutPlans">Workout Plans</a>

                        <a href="/goals">Update Goals</a>
                        <a href="/calculate">BMI</a>

                    </div>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>

            </ul>
        </div>
    </nav>
</header>

<!-- Registration Form -->
<div class="container">
    <form action="/submitUser" method="post" enctype="multipart/form-data" class="form">
        <h2 class="form-title">Register Form</h2>
        <label for="name" class="form-label">Name:</label>
        <input type="text" name="name" id="name" required class="form-input">

        <label for="surname" class="form-label">Surname:</label>
        <input type="text" name="surname" id="surname" required class="form-input">

        <label for="email" class="form-label">Email:</label>
        <input type="email" name="email" id="email" required class="form-input">


        <label for="daily_exercise_minutes_goal" class="form-label">Your exercise minutes goal:</label>
        <input type="text" name="daily_exercise_minutes_goal" id="daily_exercise_minutes_goal" required class="form-input">

        <label for="daily_calorie_goal" class="form-label">Your calories goal:</label>
        <input type="text" name="daily_calorie_goal" id="daily_calorie_goal" required class="form-input">


        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password" id="password" required class="form-input">

        <label for="picture" class="form-label">Picture:</label>
        <input type="file" name="picture" id="picture" accept="image/*" required class="form-input">

        <button type="submit" class="form-button">Submit User</button>
    </form>
</div>

<!-- Footer -->

</body>
</html>
