<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <link rel="stylesheet" href="/user.css">
</head>
<body>
<!-- Navigation -->
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>

        <div id="nav-items">
            <ul>

                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li class="dropdown">
                    <a href="#">Services</a>
                    <div class="dropdown-content">
                        <a href="/makeExercise">Make Workout Plans</a>
                        <a href="/workoutPlans">Workout Plans</a>
                        <a href="/getUserCalories">Calories Chart</a>
                        <a href="/inputFood">Calculate Calories</a>
                        <a href="/calculate">BMI</a>
                        <a href="/goals">Set Goals</a>
                    </div>
                </li>
                <li><a href="/isloged">Profile</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- Main content -->
<main class="main-content">
    <div class="container">
        <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
                <!-- user-card div -->
                <div class="user-card">
                    <!-- image div -->
                    <div class="user-picture">
                        <img class="rounded-img" id="user-picture" src="<%= user.picture %>">
                    </div>
                    <ul class="flexbox">
                        <li class="aligner">
                            <div>Name:</div>
                            <b><%= user.name %></b>
                        </li>
                        <li class="aligner">
                            <div>Surname:</div>
                            <b><%= user.surname %></b>
                        </li>
                        <li class="aligner">
                            <div>Email:</div>
                            <b><%= user.email %></b>
                        </li>
                    </ul>

                </div>
            <% }) %>
        <% } else { %>
            <p>No users found</p>
        <% } %>
    </div>
</main>

<!-- Footer -->

</body>
</html>
