<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User: <%= user.name + " " + user.surname %> </title>
    <link rel="stylesheet" href="/user.css">
    <script src="/scripts.js"></script>
</head>
<body>
<!-- Navigation -->
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>
        <div id="nav-items">
            <ul>
                <li><a href="#">Tracker</a></li>
                <li><a href="/goals">Goals</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- User Information -->



<div>
    <!-- card div -->

    <div class="user-card">

        <ul class="flexbox">
            <% var userKeys = Object.keys(user); %>
            <img src="<%= user.picture %>" alt="User Picture" id="user-picture">


                    <% for (var i = 0; i < userKeys.length; i++) { %>
                        <% if (userKeys[i] !== "password" && userKeys[i] !== "id" ) { %>
                            <li class="aligner">
                                <% if (userKeys[i] === "picture"){ %>

                                <% } else { %>
                                    <%= userKeys[i] %>: <b> <%= user[userKeys[i]] %> </b>
                                <% } %>
                            </li>
                        <% } %>
                    <% } %>





        </ul>

        <div>
            <button class="edit" type="submit" value="submit" onclick="forwardToEditUserPage()">Edit</button>
            <button class="delete" type="submit" value="submit" onclick="deleteUser()">Delete</button>
        </div>
    </div>


</div>

<!-- Footer -->

</body>
</html>
