<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <link rel="stylesheet" href="/user.css">
</head>
<body>
<!-- Navigation -->
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>
        <div id="nav-items">
            <ul>
                <li><a href="#">Tracker</a></li>
                <li><a href="goals">Goals</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/isloged">Profile</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- Users Information -->
<div>
    <% if (exercises.length > 0) { %>
        <% exercises.forEach(exercise => { %>
            <!-- card div -->
            <div>
                <div>
                    <!-- image div -->

                    <div>
                        <div>Name:</div>
                        <p><%= exercise.name %></p>
                    </div>
                    <div>
                        <div>
                            <div>name:</div>
                            <p><%= exercise.description %></p>
                        </div>

                        <div>
                            <span>Body-Part:</span>
                            <p><%= exercise.bodypart %></p>
                        </div>


                        <div>
                            <img src="<%= exercise.picture %>">
                        </div>
                    </div>
                </div>


            </div>
        <% }) %>
    <% } else { %>
        <p>No users found</p>
    <% } %>
</div>

<!-- Footer -->

</body>
</html>
