@media (max-width: 1200px) {
    #hero{
        display: none;
    }
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* Custom properties */
:root {
    --main-color: #000000;
    --accent-color: #000000;
    --light-color: #f5f5f5;
    --dark-color: #ffffff;
    --font-family: 'Open Sans', sans-serif;
    --logo-color: #ffffff;
}

/* Body */
body {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--main-color);
    /*background-image: url("./uploads/background.svg");*/
    background-color: #0e0e0e;
    background-position: center;
    background-repeat: no-repeat;
}

/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}

/* Header */
header {

    padding: 1em;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #1e1e1e;
    border-bottom: 8px solid #090909;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#logo a {

    color: turquoise;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border: 2px solid var(--logo-color);
    padding: 10px;
    border-radius: 50px;
    background-color:#1e1e1e ;
    margin: 0 10px;
}

#logo a:hover {
    color: white;
    text-shadow: 0 0 8px turquoise, 0 0 8px turquoise, 0 0 8px turquoise, 0 0 10px turquoise;
}

#nav-items ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

#nav-items ul li {
    margin: 0 15px;
}

#nav-items ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
    padding: 10px;

}

#nav-items ul li a:hover {
    color: white;
    text-shadow: 0 0 8px turquoise, 0 0 8px turquoise, 0 0 8px turquoise, 0 0 10px turquoise;
}

.dropdown {
    position: relative;
    display: inline-block;


}

.dropdown-content {
    margin-top: 10px;
    border-bottom: 2px solid turquoise;

    border-top: #000000;
    display: none;
    position: absolute;
    background-color:#1e1e1e ;


    min-width: 210px;
    z-index: 1;
    transition: display 0.5s ease-in-out;
}

.dropdown-content a {
    color: var(--light-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {

    color: var(--accent-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--main-color);
}

/* Main */
main {
    padding: 70px 0;
    display: grid;
    grid-gap: 30px;
}
/* Main */


/* Add the following CSS code */
.blur {
    filter: blur(5px);
    pointer-events: none; /* Disable pointer events to prevent interaction with blurred content */
}


/* Hero section */
#hero {
    text-align: center;
    padding-top: 10%;
    ;
    color: var(--light-color);
    border: 5px;

}

#hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto 20px;
}

.cta-button {
    display: inline-block;
    color: var(--light-color);
    background-color: var(--main-color);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--dark-color);
}

/* Features section */
#features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature {
    padding: 20px;
    background-color: rgba(122, 5, 9, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border: solid black;
    border-radius: 4px;
    text-align: center;
    transition: transform 0.3s ease;
}

.feature h2{
    color: #F5F5F5;
}

.feature p{
    color: #FAFAFA;
}

.feature:hover {
    transform: scale(1.05);
}

.feature h2 {
    margin-bottom: 10px;
}

#greetingDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 40%;
    max-width: 500px;
    border: solid black 5px;

    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 10px 10px turquoise;
    border-radius: 10px;
    z-index: 11;
}

#greetingDiv h1{
    margin: 0 0 10px 0;
    text-align: center;
    color: #F5F5F5;
}

#greetingDiv p{
    margin: 0 0 10px 0;
    text-align: center;
    color: #FAFAFA;
}
/*
#closeGreetingButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, var(--main-color), var(--accent-color));
    color: white;
    cursor: pointer;
}

#closeGreetingButton:hover {
    animation-name: btn-text-hover;
    animation-duration: 9s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes btn-text-hover {
    0% {
        background: linear-gradient(90deg, var(--accent-color), var(--main-color));
    }
    100% {
        background: linear-gradient(90deg, var(--accent-color), var(--main-color));
    }
}
*/
#closeGreetingButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
   background-color: turquoise;
    color: #000000;
    cursor: pointer;
    z-index: 1;

}


#closeGreetingButton::after {
    content: "Close Message";
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;

    opacity: 0;
}

#closeGreetingButton {
    order: 2;
    align-self: center;
    border: 0;
    font-size: 16px;
    margin-left: 10px;
    text-align: left;
    position: relative;
    z-index: 3;
}


#closeGreetingButton:hover::after{
    opacity: 1;
}


/* Media Queries */
@media (max-width: 768px) {
    #features {
        grid-template-columns: 1fr;
    }

    #nav-items ul {
        flex-direction: column;
    }
}