/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    color: #243272;
    background-color: #f5f5f5;
}

/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}

/* Header */
/* Header */
header {
    background-color: #243272;
    padding: 1em;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
}

#logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em; /* make it a bit bigger */
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* add some shadow */
    border: 2px solid #fff; /* add border */
    padding: 10px; /* add padding */
    border-radius: 50px; /* make it rounded */
    background-color: #243272; /* add some background color */
}

#logo a:hover {
    color: #243272; /* change the text color on hover */
    background-color: #fff; /* change the background color on hover */
}



#nav-items ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

#nav-items ul li {
    margin: 0 15px;
}

#nav-items ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

#nav-items ul li a:hover {
    color: #f4f4f4;
}


/* Main */
main {
    padding: 50px 0;
}

/* Hero section */
#hero {
    text-align: center;
    padding-bottom: 50px;
}

#hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto 20px;
}

.cta-button {
    display: inline-block;
    color: #ffffff;
    background-color: #243272;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #243272;
}

/* Features section */
#features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    text-align: center;
}

.feature h2 {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background: #243272;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    #features {
        grid-template-columns: 1fr;
    }
}
