/* Reset some default styles of the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --main-color: #bd0000;
    --accent-color: #000000;
    --light-color: #f5f5f5;
    --dark-color: #ffffff;
    --font-family: 'Open Sans', sans-serif;
    --logo-color: #ffffff;
}

body {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--main-color);
    background-color: #f6f6f6;
}
/* General styles */


header {
    background-color: var(--main-color);
    padding: 1em;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a {
    color: var(--logo-color);
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border: 2px solid var(--logo-color);
    padding: 10px;
    border-radius: 50px;
    background-color: var(--main-color);
}

#logo a:hover {
    color: var(--main-color);
    background-color: var(--accent-color);
}

#nav-items ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

#nav-items ul li {
    margin: 0 15px;
}

#nav-items ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

#nav-items ul li a:hover {
    color: var(--accent-color);
}

/* Main content */
main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Forms */
form {
    max-width: 500px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    display: inline-block;
    background-color: var(--main-color);
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.Divbutton {
    display: inline-block;
    background-color: var(--main-color);
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.cansl {
    background-color: var(--light-color);
    color: var(--main-color);
    border: var(--main-color) solid 2px;
    padding: 12px 14px;
    border-radius: 4px;
}

form button:hover {
    background-color: #bd0000;
}

.cansl:hover {
    background-color: #bd0000;
    color: var(--light-color);
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: var(--main-color);
    color: white;
}
.results-section {
    background-color: var(--light-color);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results-section h2 {
    font-size: 1.4em;
    color: var(--main-color);
    margin-bottom: 10px;
}

.results-section p {
    font-size: 1.2em;
    color: var(--accent-color);
}

/* Footer */
footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 1em;
    position: relative; /* Changed from absolute to relative */
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 210px;
    z-index: 1;
}

.dropdown-content a {
    color: var(--light-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--dark-color);
    color: var(--accent-color);
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--main-color);
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        padding: 20px 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    .container {
        padding: 10px;
    }

    form {
        max-width: 90%;
        padding: 20px;
    }

    footer {
        position: static;
    }
}
