/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* Custom properties */
:root {
    --main-color: #000000;
    --accent-color: #000000;
    --light-color: #f5f5f5;
    --dark-color: #ffffff;
    --font-family: 'Open Sans', sans-serif;
    --logo-color: #ffffff;
}

/* General styles */
body {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--main-color);
    background-color: #0e0e0e;
    background-position: center;
    background-repeat: no-repeat;
}

/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}

/* Header */
header {
    padding: 1em;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #1e1e1e;
    border-bottom: 8px solid #090909;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a {
    color: turquoise;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--logo-color);
    padding: 10px;
    border-radius: 50px;
    background-color: #1e1e1e;
    margin: 0 10px;
}

#logo a:hover {
    color: white;
    text-shadow: 0 0 8px turquoise, 0 0 8px turquoise, 0 0 8px turquoise, 0 0 10px turquoise;
}

#nav-items ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

#nav-items ul li {
    margin: 0 15px;
}

#nav-items ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
    padding: 10px;
}

#nav-items ul li a:hover {
    color: white;
    text-shadow: 0 0 8px turquoise, 0 0 8px turquoise, 0 0 8px turquoise, 0 0 10px turquoise;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 10px;
    border-bottom: 2px solid turquoise;
    border-top: #000000;
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    min-width: 210px;
    z-index: 1;
    transition: display 0.5s ease-in-out;
}

.dropdown-content a {
    color: var(--light-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--accent-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--main-color);
}

/* Main content */
main {
    padding: 70px 0;
    display: grid;
    grid-gap: 30px;
}

/* User Card */
.user-card {
    background-image: linear-gradient(180deg, turquoise 20%, #1e1e1e 20%);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    color: white;
    flex-direction: column;

    align-items: center;
    text-align: center;
}

#user-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #ffffff solid 3px;
    margin-bottom: 20px;
    object-fit: cover;
}

.user-card ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    width: 100%;
    background-color: #1e1e1e;
}

.user-card ul li {
    margin-bottom: 10px;
    background-color: #1e1e1e;
}

.aligner {
    width: 25%;
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
}

.button-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #1e1e1e;
}

.rounded-img {
    border-radius: 50%;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* Forms */
.edit {
    display: inline-block;
    background-color: turquoise;
    color: #000000;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.delete {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    border: turquoise solid 2px;
    padding: 14px 20px;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

.edit:hover {
    background-color: turquoise;
}

.delete:hover {
    background-color: turquoise;
    color: #000000;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #bd0000;
    color: white;
}

/* Footer */
footer {
    background-color: #bd0000;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative; /* Changed from absolute to relative */
    width: 100%;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        padding: 20px 0; /* Increase padding */
    }
    nav ul li {
        margin: 10px 0; /* Increase margin */
    }
    .container {
        padding: 10px;
    }
    form {
        max-width: 90%; /* Allow the form to scale down on smaller screens */
        padding: 20px; /* Decrease padding on smaller screens */
    }
    footer {
        position: static; /* Let the footer flow naturally in the document */
    }
    .user-card {
        padding: 10px;
    }
    #user-picture {
        width: 60px;
        height: 60px;
    }
}
