/* Reset some default styles of the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #243272;
    padding: 1em;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
}

#logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em; /* make it a bit bigger */
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* add some shadow */
    border: 2px solid #fff; /* add border */
    padding: 10px; /* add padding */
    border-radius: 50px; /* make it rounded */
    background-color: #243272; /* add some background color */
}

#logo a:hover {
    color: #243272; /* change the text color on hover */
    background-color: #fff; /* change the background color on hover */
}


#nav-items ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

#nav-items ul li {
    margin: 0 15px;
}

#nav-items ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

#nav-items ul li a:hover {
    color: #f4f4f4;
}

/* Main content */
main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.user-card {
    background-image: linear-gradient(180deg, #243272 20%, #fff 20%);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#user-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #ffffff solid 5px;
    margin-bottom: 20px;
    object-fit: cover;
}

.user-card ul {
    list-style: none;
    padding-left: 0;
    text-align: center;

    width: 100%;
}

.user-card ul li {
    margin-bottom: 10px;

}
@media screen and (max-width: 768px) {
    /* ... other styles ... */

    #user-picture {
        width: 60px;
        height: 60px;
    }
    .user-card ul {
        width: 90%;
    }
}
/* Forms */
form {
    max-width: 500px;
    margin: 30px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit {
    display: inline-block;
    background-color: #243272;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.delete{
    background-color: #ffffff;
    color: #000000;
    border: #243272 solid 2px;
    padding: 12px 14px;
    border-radius: 4px;
}

.edit:hover {
    background-color: #243242;
}
.delete:hover {
    background-color: #243242;
    color: #ffffff;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #243272;
    color: white;
}

/* Footer */
footer {
    background-color: #243272;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;  /* Changed from absolute to relative */
    width: 100%;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        padding: 20px 0; /* Increase padding */
    }
    nav ul li {
        margin: 10px 0; /* Increase margin */
    }
    .container {
        padding: 10px;
    }
    form {
        max-width: 90%; /* Allow the form to scale down on smaller screens */
        padding: 20px; /* Decrease padding on smaller screens */
    }
    footer {
        position: static; /* Let the footer flow naturally in the document */
    }
    .user-card {
        padding: 10px;
    }
    #user-picture {
        width: 60px;
        height: 60px;
    }
}
